.filter-heading {
  color: #cbd5e1;
  font-size: 18px;
  margin-top: 20px;
}

.list-container {
  padding-left: 0;
}

.list-item {
  list-style: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 13px;
}

.radio {
  width: 17px;
  height: 17px;
  margin-right: 13px;
}

.label-text {
  font-size: 16px;
  color: #cbd5e1;
}
